/*<meta />*/
/*This stylesheet has styled boxes that are configured to use images*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.fbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.fbox figcaption, figure {
    text-align: center;
    position: relative;
}

.fbox img {
    position: relative;
    display: block;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  float: left;
  width: 47.5%;
  padding: 5px;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column4 {
  float: left;
  width: 24.5%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
    font-family: Arial, Avenir, Myriad;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 2.25px solid #CCC;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    font-size: 2.0em;
    margin-top: 40px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

h3 {
    font-size: 1.25em;
    margin-top: 20px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table.center {
    margin: 0px auto;
    
}

li {
    margin-bottom: 6px;
    margin-top: 10px;
}

MadCap|xref {
    color: #2D8DCC;
    font-weight: bold;
    mc-format: '{para}';
    text-decoration: underline;
}

MadCap|xref:hover {
    color: #BED230;
}

p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.info, .success, .warning, .error {
    padding:10px;
    margin:10px 0;
 
}

.info:before, .success:before, .warning:before, .error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.info:before {
    content:"\f05a";
}

.success:before {
    content:'\f00c';
}

.warning:before {
    content:'\f071';
}

.error:before {
    content:'\f057';
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

/*Targets the caption text*/
table caption {
    font-size: 1.5em;
    padding: 10px 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    page-break-inside:avoid;
    page-break-after:auto
}

th, td {
    padding: 15px;
    border: 1px solid black;
}

th {
    font-weight: bold;
    background-color: #bbbb77;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
